* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(#615dad, #ffc8da) no-repeat fixed;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-top: 10px;
}
#cover {
  width: 360px;
  border-radius: 5px 5px 0 0;
}

.card {
  background-color: #283e50;
  width: 360px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-top: 50px;
  margin-bottom: 25px;
  margin: 30px;
}

.card__info {
  padding-left: 20px;
  padding-right: 20px;
}

.card__info p {
  margin: 15px 5px;
}
.card__buttons {
  display: flex;
  flex-direction: column;
}

.card__buttons-rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
  padding: 20px 0;
}

.card__buttons-play {
  background-color: #0197f6;
  padding: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

.card__buttons-rules:hover {
  background-color: #1cbb96;
}
.card__buttons-play:hover {
  background-color: #0090e9;
}
/*2. UKOL*/
.info__title {
  margin: 40px;
}
.info__rules {
  padding-inline-start: 30px;
  padding-inline-end: 5px;
  text-align: left;
}

.info__icons {
  width: 1rem;
  height: 1rem;
  filter: invert(100%);
}

.examples__picture {
  width: 100%;
}
figure {
  margin: 10px;
}

figcaption {
  margin-bottom: 30px;
}
@media (min-width: 750px) {
  .card__rules {
    width: auto;
  }
  .card__examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    width: 46%;
  }
}

@media (min-width: 1000px) {
  .card__rules {
    width: 900px;
  }
  figure {
    width: 46%;
  }
}
/*3. UKOL*/
.game {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
}

.game__title {
  text-align: center;
}

.game__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.game__status p {
  display: flex;
  align-items: center;
}
#turn {
  width: 1.3rem;
  height: 1.3rem;
}
.buttons {
  padding: 5px;
  border-radius: 5px;
}
#home {
  background-color: #1fcca4;
}
#restart {
  background-color: #0197f6;
}

#home:hover {
  background-color: #1cbb96;
}
#restart:hover {
  background-color: #0090e9;
}
.game__field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
}

.game__field button {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 50%;
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}
.game__field button:hover {
  background-color: white;
  opacity: 50%;
}

.game__field button:focus {
  border: solid 1px black;
  border-radius: 5px;
}

/*4. UKOL*/
.board__field--circle {
  background-image: url(images/circle.svg);
}

.board__field--cross {
  background-image: url(images/cross.svg);
}
