html {
  background: linear-gradient(#615dad, #ffc8da);
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
img {
  width: 360px;
  border-radius: 5px 5px 0 0;
}

.card {
  position: relative;
  background-color: #283e50;
  width: 360px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-top: 50px;
}

.card__info {
  padding-left: 20px;
  padding-right: 20px;
}
.card__buttons {
  display: flex;
  flex-direction: column;
}

.card__buttons-rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
  padding: 20px 0;
}

.card__buttons-play {
  background-color: #0197f6;
  padding: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

.card__buttons-rules:hover {
  background-color: #1cbb96;
}
.card__buttons-play:hover {
  background-color: #0090e9;
}

.card__icons {
  width: 1rem;
  height: 1rem;
  filter: invert(100%);
}
